/* Estilos Globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
}

h2, h3 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Painel de Exibição (Para Pacientes) */
#painel-exibicao {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    color: white;
}

.painel-container {
    display: flex;
    flex-direction: column;
}

#lista-chamadas {
    list-style-type: none;
    padding: 0;
}

#lista-chamadas li {
    background-color: #444;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
}

/* Área da Recepção (Para Recepcionistas) */
#area-recepcao {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.recepcao-container {
    display: flex;
    flex-direction: column;
}

.lista-pacientes, .controle-chamada, .historico-chamadas {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.lista-pacientes ul, .historico-chamadas ul {
    list-style-type: none;
    padding: 0;
}

.lista-pacientes li, .historico-chamadas li {
    background-color: #444;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

input[type="text"], select, button {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    font-size: 1rem;
}

button {
    background-color: #1e90ff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #4682b4;
}

/* Área dos Profissionais (Para Médicos e Profissionais) */
#area-profissionais {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.profissionais-container {
    display: flex;
    flex-direction: column;
}

.lista-pacientes-chamados, .controle-atendimento, .historico-atendimentos {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.lista-pacientes-chamados ul, .historico-atendimentos ul {
    list-style-type: none;
    padding: 0;
}

.lista-pacientes-chamados li, .historico-atendimentos li {
    background-color: #444;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

/* Área de Configurações (Para Administradores) */
#area-configuracoes {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.configuracoes-container {
    display: flex;
    flex-direction: column;
}

.gerenciar-salas, .gerenciar-profissionais, .configuracoes-notificacoes {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.gerenciar-salas input, .gerenciar-profissionais input, .configuracoes-notificacoes select {
    width: 100%;
    padd
